.box{
    margin: 20px;
    padding: 20px;
    border: solid black 5px;
    
}
#div1{
    background-color: lightgreen;
}
#div2{
background-color: lightgoldenrodyellow;
}
#div3{
    background-color: lightpink;
}