#div1{
    background-color: rgb(194, 69, 157);
    height: 80px;
    width: 80px;
    margin: 100px;
}
#div1:hover{
    background-color: aquamarine;
    height: 40px;
    transition: height 2s,background 4s;
}
#div2{
    background-color: red;
    height: 50px;
    width: 50px;
}
div:hover + div{
    margin-left: 200px;
    transition: margin 4s;
}